DB_PASSWORD=MySccsaryetPasswordneow
DB_NAME=TesloDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=y2D2U4T8h4F8s8S6z0C1j3P7q0V5g2W9